<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Stargaze</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <style>
        #map { height: 500px;  margin: 20px; }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #473685;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white;">Stargaze</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#" style="color: white;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">About</a>
            </li>
          </ul>
        </div>
      </div>

    </nav>
    <h1 align="center" style="color: #473685; border: 2px; padding: 10px;">Welcome to stargaze!</h1>
<!--    <img align="right" src="/static/stargaze.jpg" width="100" height="100">-->
    <h2 align="center" style="color: #473685;">Find the best stargazing spot</h2>
    <form method="POST" style="padding: 20px;">
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Whereabouts (name or coordinates):</label>
          <input type="text" class="form-control" id="formGroupExampleInput" name="whereabouts" value="{{ whereabouts }}">
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #473685; border-color: #473685">Search</button>
    </form>

    <div id="map"></div>

    <script>
        var map = L.map('map').setView([50.0647, 19.9450], 13);
        var myIcon = L.icon({
            iconUrl: '/static/stargaze_pin.png',
            iconSize: [40, 40],
            iconAnchor: [20, 40],
            popupAnchor: [0, -40],
        });
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        {% if coordinates %}
            var coordinates = {{ coordinates | tojson }};
            var marker = L.marker([coordinates.lat, coordinates.lon], {icon: myIcon}).addTo(map);
            map.setView([coordinates.lat, coordinates.lon], 10);
        {% endif %}

    </script>

</body>
</html>
